In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_path = 'C:/Users/manj1/Documents/projects/Remote_Job_Analysis/Stage1-DataGathering/data.csv'
df = pd.read_csv(data_path)
df.describe()

,company,title,job-type,company-region,category
count,1012,1012,1012,986,1012
unique,624,855,2,8,8
top,TaxJar,Senior Product Designer,Full-Time,Anywhere (100% Remote) Only,Programming
freq,19,13,909,527,492

In [4]:
df.isna().sum()

company            0
title              0
job-type           0
company-region    26
category           0
dtype: int64

In [8]:
df['company-region'].fillna('Anywhere (100% Remote) Only', inplace=True)

In [9]:
df

,company,title,job-type,company-region,category
0,Contra,Senior Product Designer,Contract,Anywhere (100% Remote) Only,Design
1,Aurora Solar,Senior Product Designer,Full-Time,North America Only,Design
2,InDebted,Senior Product Designer,Full-Time,Anywhere (100% Remote) Only,Design
3,Speechify,Senior UI/Systems Designer,Full-Time,North America Only,Design
4,TaxJar,Senior Product Designer,Full-Time,USA Only,Design
...,...,...,...,...,...
1007,Shogun,Senior Product Manager - DevX,Full-Time,North America Only,Product
1008,Grayce,Product Manager,Full-Time,USA Only,Product
1009,Silverfin,Technical Product Manager,Full-Time,Anywhere (100% Remote) Only,Product
1010,Catch Co,Conversion Rate Optimization Associate,Full-Time,USA Only,Product
1011,We Make Websites,Product Owner (Shopify Agency) - UK,Full-Time,Europe Only,Product

How entries are there for each category? Show plot

Show agrregations based on company-region